AutoVFTool/Service References/VFService/virtualfile.msn.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://virtualfile.msn.com" elementFormDefault="qualified" targetNamespace="http://virtualfile.msn.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="LoginStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="LoginStatusResult" nillable="true" type="q1:VFUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="document" nillable="true" type="q2:DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="AddDocumentResult" nillable="true" type="q3:DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="document" nillable="true" type="q4:DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="EditDocumentResult" nillable="true" type="q5:DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="GetDocumentResult" nillable="true" type="q6:DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentDocumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="GetDocumentListResult" nillable="true" type="q7:DocumentListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListByPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentDocumentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListByPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="GetDocumentListByPathResult" nillable="true" type="q8:DocumentListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishPageResult" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="content" nillable="true" type="q9:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="AddContentResult" nillable="true" type="q10:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="content" nillable="true" type="q11:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="EditContentResult" nillable="true" type="q12:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="GetContentResult" nillable="true" type="q13:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyContentToPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentID" type="xs:int" />
        <xs:element minOccurs="0" name="documentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyContentToPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="CopyContentToPageResult" nillable="true" type="q14:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="PublishContentResult" nillable="true" type="q15:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentDocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="contentTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="GetContentListResult" nillable="true" type="q16:ContentListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentID" type="xs:int" />
        <xs:element minOccurs="0" name="sequenceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportContentsFromPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportContentsFromPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/Message" name="ExportContentsFromPageResult" type="q17:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContentToPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="content" nillable="true" type="q18:ContentInfo" />
        <xs:element minOccurs="0" name="overwrite" type="xs:boolean" />
        <xs:element minOccurs="0" name="publish" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContentToPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="ImportContentToPageResult" nillable="true" type="q19:ContentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="file" nillable="true" type="q20:ClientFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MSN.VirtualFile.Services.Model" minOccurs="0" name="UploadImageResult" nillable="true" type="q21:RemoteFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageWithUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageUrl" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageWithUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadImageWithUrlResult" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentFormTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentFormTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentFormTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetPageOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetPageOutputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlGetPageOutputResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetPageOutputByPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetPageOutputByPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlGetPageOutputByPathResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetContentOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetContentOutputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlGetContentOutputResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetContentOutputByPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetContentOutputByPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlGetContentOutputByPathResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetOutputByPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetOutputByPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlGetOutputByPathResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetContentFormTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlGetContentFormTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlGetContentFormTemplateResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentXSLT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentXSLTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentXSLTResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentPageXSLT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentPageXSLTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentPageXSLTResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchXSLT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchXSLTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchXSLTResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlExportContentsFromPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlExportContentsFromPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/Message" name="XmlExportContentsFromPageResult" type="q22:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetContentSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetContentSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetContentSequenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>